body,
		html {
			margin: 0;
			padding: 0;
			height: 50%;
			background-color:#D5DBDB !important;
		}
		.user_card {
			width: 80%;
			margin-top: auto;
			margin-bottom: auto;
			background: #7484321;
			position: relative;
			display: flex;
			justify-content: center;
			flex-direction: column;
			padding: 5px;
			box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			-moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			border-radius: 5px;
			border:2px solid DodgerBlue;


		}

		.form_container {
			margin-top: 2px;
		}

		#form-title{
			color: rgb(0, 0, 200);
			padding: 5px;
			margin: 5px;
		}
		.login_btn {
			width: 50%;
			background: #33ccff !important;
			color: white !important;
		}
		.login_btn:focus {
			box-shadow: none !important;
			outline: 0px !important;
		}
		.login_container {
			padding: 0 2rem;
		}
		.input-group-text {
			background: #f7ba5b !important;
			color: white !important;
			border: 0 !important;
			border-radius: 0.25rem 0 0 0.25rem !important;
		}
		.input_user,
		.input_pass:focus {
			box-shadow: none !important;
			outline: 0px !important;
		}
		table{
width:90%;
font-size: 90%;
}
a{
text-decoration: none;

}
.column {
  float: left;
  width: 48%;
  padding: 5px;
}